@import 'spacing';

.app {
  height: 100%;

  .center {
    display: flex;
    justify-content: center;   
    width: 100%;
    height: 100%;
    padding-top: $nav-offset;

    .column {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 90%;
    }
  }
}

