@import '../../colors';
@import '../../spacing';

.box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 35%;

    background-color: $color-primary-light;
    padding: 2*$unit 2*$unit;
    border-radius: $unit;
    border: $border-size solid $color-primary-dark;

    .content {
        width: 100%;
        height: 100%;
        margin: $unit $unit;
        display: flex;
        justify-content: space-around;
    }
}